body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

	/* Debug, just for eyestrain purposes */
	background-color: #222;
	color: #dadada;
}

textarea {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #222;
	color: #dadada;
}

select {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #222;
	color: #dadada;
	line-height: 20px;
	font-size: 0.9em;
}

input {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #222;
	color: #dadada;
}

input[type='submit'] {
	border: none;
	background-color: #3da180;
	cursor: pointer;
	padding: 5px 10px;
}

input[type='submit']:hover {
	background-color: #dadada;
	color: #525252;
}

input[type='button'] {
	border: none;
	background-color: #3da180;
	cursor: pointer;
	padding: 5px 10px;
}

input[type='button']:hover {
	background-color: #dadada;
	color: #525252;
}

.button-red {
	background-color: rgb(196, 74, 74);
	color: #dadada;
	border-style: none;
	padding: 5px 10px;
}

.button-red:hover {
	background-color: #dadada;
	color: #525252;
	cursor: pointer;
}

.main-filter {
	display:flex;
}

p {
	margin: 2px 0px;
}

a {
	color: #55d6aa;
	text-decoration: none;
	font-weight: normal;
}

a:visited {
	color: #55d6aa;
}

a:hover {
	color: #55d6aa;
}

.contentPage {
	margin: 10px 15px 0px 15px;
}

.error {
	background-color: red;
	color: white;
	border: 2px solid white;
	padding: 10px;
}

.message {
	background-color: #008812;
	color: white;
	border: 2px solid white;
	padding: 10px;
}

.header {
	margin: 6px 0 10px 10px;
	font-size: 1.8em;
}

.header a {
	color: #60f8c5;
	text-decoration: none;
}

.header a:visited {
	color: #60f8c5;
}

.tall {
	font-size: 1.4em;
}

.footer {
	padding: 10px 20px;
	font-size: 0.8em;
}

.login-info {
	padding: 10px 20px;
}

.page-link {
	margin: 10px;
}

.calendar-week-hint {
	font-size: 1.2em;
	margin-bottom: -8px;
	margin-top: 10px;
	padding: 2px 10px;
	background-color: #3da180;
	color: #dadada;
	max-width: 1180px;
}

.filter-box {
	display: flex;
	flex-direction: row;
	font-size: 1.1em;
}

.filter-item {
	margin: 2px 10px 0px 0px;
}

ul {
	margin: 0;
}

label {
	padding: 0 30px 0 00px;
	font-size: 26px;
	line-height: 50px;
	display: none;
}

#toggle {
	display: none;
}

.nav {
	line-height: 49px;
	background: #55d6aa;
}

.menu {
	width: 100%;
}

.menu ul {
	list-style-type: none;
	overflow: hidden;
	/*display: flex;
  justify-content: flex-start;*/
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
	text-align: center;
	color: #424242;
	padding: 14px 16px;
	text-decoration: none;
}

.menu ul li a:hover {
	background-color: #f7f7f7;
	color: #525252;
}

.login-info {
	padding: 10px;
	border-top: solid 1px #2e2e2e;
	border-bottom: solid 1px #2e2e2e;
}

.phpgridder-table {
	max-width: 1200px;
	padding: 10px 0px;
}

.phpgridder-row {
	display: flex;
	flex-direction: row;
	border-left: 7px solid rgba(0, 0, 0, 0);
	border-right: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 1px solid white;
	color: #f7f7f7;
}

.phpgridder-titlerow {
	display: flex;
	flex-direction: row;
	border-left: 7px solid rgba(0, 0, 0, 0);
	border-right: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 3px solid white;
	background-color: #3da180;
	color: #f7f7f7;
	font-weight: lighter;
}

.phpgridder-odd-row {
	background-color: #3d3d3d;
}

.phpgridder-even-row {
	background-color: #474747;
}

.event {
	border-left: 7px solid #45dfab;
}

.phpgridder-cell {
	flex-basis: 100%;
	padding: 4px 4px;
}

.phpgridder-titlecell {
	flex-basis: 100%;
	font-size: 13pt;
	padding: 4px 4px;
}

.cal-headrow {
	background-color: #3da180;
	color: #f7f7f7;
}

.cal-headcell {
	padding: 2px;
	min-width: 1.5em;
	text-align: center;
}

.cal-headcell-today {
	background-color: #74ff87;
	color: black;
	font-weight: bolder;
}

.cal-table {
	border-collapse: collapse;
	margin-bottom: 10px;
	margin: 10px;
	max-width: 90%;
}

.cal-row {
	border-top: 1px solid white;
}

.cal-row td{
	border: 1px dotted white;
}

.cal-highlightcell {
	background-color: #3da180;

	text-align: center;
}

.cal-highlightcell a {
	color: white;
	height: 100%;
	width: 100%;
}

.cal-not-found-message {
	font-size: 1.2em;
	margin: 10px;
}

.cal-legend {
	font-size: 0.8em;
}

.input-field {
	padding: 4px;
}

.input-description {
	margin-bottom: 5px;
}

.input-value {
	width: 200px;
}

.input-value select {
	width: 200px;
}

.top-page-filter-form {
	padding-bottom: 10px;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

@media screen and (max-width: 600px) {
	.filter-box {
		flex-flow: column;
		text-align: right;
	}
	.filter-item {
		display: block;
	}
	.filter-item select {
		width: 100%;
	}
	label {
		display: flex;
		flex-direction: row-reverse;
		cursor: pointer;
	}
	.nav {
		line-height: 40px;
	}
	.header {
		position: absolute;
	}
	.header a {
		color: #2e2e2e;
	}
	.header a:visited {
		color: #2e2e2e;
	}
	.menu {
		display: none;
		width: 95%;
		text-align: right;
	}
	.menu ul {
		display: block;
	}
	.menu ul li {
		display: block;
	}
	.menu ul li a {
		padding: 8px 10px;
	}
	#toggle:checked + .menu {
		display: block;
	}

	/* Grid Re-Order */
	.phpgridder-row {
		flex-wrap: wrap;
	}

	.phpgridder-cell {
		padding: 2px;
	}

	.phpgridder-titlecell {
		padding: 2px;
	}

	.phpgridder-titlerow {
		visibility: hidden;
		border-bottom: 3px solid white;
	}

	.topic-cell {
		font-weight: bold;
	}
}

@media screen and (max-width: 500px) {
}
