
# Enable Rewrite Engine
RewriteEngine On

# Rewrite rulezz
RewriteRule ^training/([0-9]+)$ /index.php?page=training&id=$1 [NC,L]
RewriteRule ^trainingedit/([0-9]+)$ /index.php?page=trainingedit&id=$1 [NC,L]
RewriteRule ^trainingedit/department/([0-9]+)$ /index.php?page=trainingedit&departmentId=$1 [NC,L]
RewriteRule ^department/([0-9]+)$ /index.php?page=department&id=$1 [NC,L]
RewriteRule ^appointment/([0-9]+)$ /index.php?page=appointment&id=$1 [NC,L]
RewriteRule ^([0-9a-zA-Z_-]+)$ /index.php?page=$1 [NC,QSA,L]